/* Grid Icons */

#gridsection-1 .image_holder {
	background-image: url("https://mum-mih.github.io/MUM-template-2/Icon_calendar.svg");
	background-size: contain;
	background-repeat: no-repeat
}

#gridsection-2 .image_holder {
	background-image: url("https://mum-mih.github.io/MUM-template-2/Icon_timetable.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-3 .image_holder {
	background-image: url("https://mum-mih.github.io/Worksop/Manual.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-4 .image_holder {
	background-image: url("https://mum-mih.github.io/MUM-template-2/Icon_assignments.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-5 .image_holder {
	background-image: url("https://mum-mih.github.io/Workshop/AA.svg");
	background-size: contain;
	background-repeat: no-repeat
}
#gridsection-6 .image_holder {
	background-image: url("https://mum-mih.github.io/Workshop/FE.svg");
	background-size: contain;
	background-repeat: no-repeat
}
